.activity {
  padding-bottom: 94px;
}
.activity__container {
  text-align: center;
}
.activity__list {
  display: flex;
}

.activity__list .activity__item {
  position: relative;
  margin-right: 30px;
}
.activity__item:nth-child(3n) {
  margin-right: 0px;
}
.activity__thumb {
  position: absolute;
  top: 224px;
  left: 0px;
  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  overflow: hidden;
}
.activity__tumb-text {
  margin: 27px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-white-color);
}
.activity__subtitle {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 50px;

  color: var(--color-primary);
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
}
