.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--color-background);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
}
.logo-footer {
  display: block;
  margin-bottom: 20px;
  outline: none;
  color: var(--color-white-color);
  font-family: "Raleway";
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  font-style: normal;
}

.logo-footer__slogo {
  color: var(--color-thirdary);
}

.footer__adresse-link {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.1;
  transition: color var(--color-hover-animation);
  outline: none;
}

.footer__adresse-link:hover,
.footer__adresse-link:focus {
  color: var(--color-thirdary);
}

.footer__position {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.footer__location-link {
  color: var(--color-white-color);
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  outline: none;
  letter-spacing: 0.3;
}

.footer__adresse-list .footer__adresse-item {
  margin-bottom: 9px;
}
.footer__adresse-item:nth-last-child(-n + 1) {
  margin-bottom: 0px;
}

.footer__social-list {
  display: flex;
  gap: 10px;
}

.footer__link {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color var(--color-hover-animation);
  outline: none;
}
.footer__icon {
  fill: var(--color-white-color);
}

.footer__link:hover {
  background-color: var(--color-thirdary);
}

.footer__link:hover .net-icon {
  fill: var(--color-white-color);
}
.footer__link:focus {
  background-color: var(--color-thirdary);
}
.footer__link:focus .net-icon {
  fill: var(--color-white-color);
}

/* ------Footer Form------ */

.footer-form {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.footer-form__input {
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  border: 1px solid var(--color-icon);
  border-radius: 4px;
  outline: none;
  background: var(--color-background);
  color: var(--color-icon);
  transition: border-color var(--color-hover-animation);
}
.footer-form__input:focus {
  border-color: var(--color-thirdary);
}
.footer-form__input:hover {
  border-color: var(--color-thirdary);
}

.footer-form__icon {
  align-items: center;
  margin-left: 10px;
  fill: var(--color-white-color);
}

.footer-form__button {
  display: flex;
  padding: 10px 28px;
  margin-left: 12px;
}
.footer__invitation {
  display: block;
  padding: 0px;
  margin: 0px;
  margin-bottom: 20px;
  color: var(--color-white-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}