.hero {
  background-color: var(--color-background);
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero__canvas {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1600px;
  background-image: linear-gradient(
      to left,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../styles/icons/hero.jpg);
}

.hero__title {
  margin-top: 0px;
  margin-bottom: 30px;

  color: var(--color-white-color);
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  max-width: 696px;
  margin: 0 auto 30px;
}
