.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 40px;
  background-color: var(--color-white-color);
  z-index: 999;
  transform: translateX(100%);
  transition: transform var(--color-hover-animation);
  outline: 1px solid red;
}
.mobile-menu.is-open {
  transform: translateX(0);
}
.mobile-menu .menu-toggle {
  position: absolute;
  top: 10px;
  right: 15px;
  color: var(--color-thirdary);
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.mobile-menu__btn-close {
  border: none;
position: absolute;
top: 10px;
right: 15px;
  background-color: var(--color-white-color);
}

.mobile-menu {
  padding: 0;
  margin: 0;
  list-style: none;

}

.mobile-menu .link {
  display: block;
  padding: 10px;
  color: #fff;
  text-decoration: none;
}
