.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background: var(--color-light-gray);

  &__list {
    display: flex;

    margin-top: 0px;
    margin-bottom: 0px;
  }
  &__list &__item {
    text-align: center;
    margin-right: 30px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }

  &__employee {
    background-color: var(--color-white-color);
    padding: 30px 20px;
  }

  &__item:nth-child(4n) {
    margin-right: 0px;
  }

  &__developer {
    margin-bottom: 16px;

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    color: var(--color-secondary);
  }

  &__name {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
  }

  &__social-list {
    display: flex;
    justify-content: center;
    gap: 10px;
  }

  &__link {
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: background-color var(--color-hover-animation);
    outline: none;
  }

  &__link .team__icon {
    fill: var(--color-icon);
    transition: fill var(--color-hover-animation);
  }

  &__link:hover {
    background-color: var(--color-thirdary);
    color: var(--color-white-color);
  }

  &__link:hover .team__icon {
    fill: var(--color-white-color);
  }
  &__link:focus {
    background-color: var(--color-thirdary);
  }
  &__link:focus .team__icon {
    fill: var(--color-white-color);
  }
}
