
.form__button {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  width: 30px;
  height: 30px;
  cursor: pointer;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--color-white-color);
  transition: color var(--color-hover-animation),
    box-shadow var(--color-hover-animation), fill var(--color-hover-animation);

  .form__button:hover {
    fill: var(--color-button-hover);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
  .form__button:focus {
    fill: var(--color-button-hover);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}

.form__form-title {
  display: flex;
  justify-content: center;
  margin-bottom: 12px;
  color: var(--color-primary);
  font-weight: 700;
  font-size: 20px;
  line-height: 1.1;
  letter-spacing: 0.03em;
}

.form__label {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1;
  margin-bottom: 4px;
}

.form__control {
  position: relative;
  margin-bottom: 10px;
}
.form__control:focus-within .form__icon {
  fill: var(--color-thirdary);
}

.form__input {
  width: 100%;
  padding: 12px 12px 12px 42px;
  border: 1px solid var(--color-icon);
  border-radius: 4px;
  outline: none;
  color: var(--color-primary);
  transition: border-color var(--color-hover-animation);

  .form__input:focus {
    border-color: var(--color-thirdary);
    color: var(--color-primary);
  }
  .form__input:hover {
    border-color: var(--color-thirdary);
  }
  .form__input:hover + .form__icon {
    fill: var(--color-thirdary);
  }
  .form__input::placeholder {
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: var(--color-icon);
  }
}

.form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  fill: currentColor;
  transition: fill var(--color-hover-animation);
}
.form__textarea {
  position: relative;
  width: 100%;
  height: 120px;
  padding: 12px;
  border: 1px solid var(--color-icon);
  color: var(--color-primary);
  border-radius: 4px;
  outline: none;
  resize: none;
  transition: border-color var(--color-hover-animation);
  margin-bottom: 20px;

  .form__textarea:focus {
    border-color: var(--color-thirdary);
    color: var(--color-primary);
  }
  .form__textarea:hover {
    border-color: var(--color-thirdary);
  }
  .form__textarea::placeholder {
    font-size: px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: var(--color-icon);
  }
}

.form__checkbox {
  position: relative;
  .form__checkbox-label {
    display: block;
    padding-left: 38px;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--color-secondary);
    margin-bottom: 30px;
    cursor: pointer;
  }
  .form__checkbox-label a {
    color: var(--color-thirdary);
  }
  .form__checkbox-control {
    width: 16px;
    height: 15px;
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    background-color: var(--color-white-color);
    border: 2px solid var(--color-primary);
    border-radius: 2px;
    z-index: 0;
    transition: border-color var(--color-hover-animation),
      background-color var(--color-hover-animation),
      fill var(--color-hover-animation);
  }
  .form__checkbox-check {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    fill: var(--color-white-color);
  }
.form__checkbox-input:hover + .form__checkbox-control {
  border-color: var(--color-thirdary);
}
.form__checkbox-input:focus + .form__checkbox-control {
  border-color: var(--color-thirdary);
}
.form__checkbox-input:checked + .form__checkbox-control {
  background-color: var(--color-thirdary);
}
}

.form__submit-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.form.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
